{"openapi":"3.0.1","info":{"title":"SendGrid v3 API Documentation","description":"# The SendGrid Web API V3 Documentation\n\nThis is the entirety of the documented v3 endpoints. We have updated all the descriptions, parameters, requests, and responses.\n\n## Authentication \n\nEvery endpoint requires Authentication in the form of an Authorization Header:\n\nAuthorization: Bearer API_KEY","version":"3.0"},"servers":[{"url":"http://api.sendgrid.com/v3"},{"url":"https://api.sendgrid.com/v3"}],"paths":{"/mail/send":{"post":{"tags":["Mail Send"],"summary":"v3 Mail Send","description":"This endpoint allows you to send email over SendGrid’s v3 Web API, the most recent version of our API. If you are looking for documentation about the v2 Mail Send endpoint, please see our [v2 API Reference](https://sendgrid.com/docs/API_Reference/Web_API/mail.html).\n\n* Top level parameters are referred to as \"global\".\n* Individual fields within the personalizations array will override any other global, or “message level”, parameters that are defined outside of personalizations.\n \n**SendGrid provides libraries to help you quickly and easily integrate with the v3 Web API in 7 different languages: [C#](https://github.com/sendgrid/sendgrid-csharp), [Go](https://github.com/sendgrid/sendgrid-go), [Java](https://github.com/sendgrid/sendgrid-java), [Node JS](https://github.com/sendgrid/sendgrid-nodejs), [PHP](https://github.com/sendgrid/sendgrid-php), [Python](https://github.com/sendgrid/sendgrid-python), and [Ruby](https://github.com/sendgrid/sendgrid-ruby).**\n\n\nFor more detailed information about how to use the v3 Mail Send endpoint, please visit our [Classroom](https://sendgrid.com/docs/Classroom/Send/v3_Mail_Send/index.html).","operationId":"POST_mail-send","requestBody":{"content":{"application/json":{"schema":{"required":["content","from","personalizations","subject"],"type":"object","properties":{"personalizations":{"maxItems":1000,"type":"array","description":"An array of messages and their metadata. Each object within personalizations can be thought of as an envelope - it defines who should receive an individual message and how that message should be handled.","items":{"required":["to"],"type":"object","properties":{"to":{"maxItems":1000,"minItems":1,"type":"array","description":"An array of recipients. Each object within this array may contain the name, but must always contain the email, of a recipient.","items":{"$ref":"#/components/schemas/email_object"}},"cc":{"maxItems":1000,"type":"array","description":"An array of recipients who will receive a copy of your email. Each object within this array may contain the name, but must always contain the email, of a recipient.","items":{"$ref":"#/components/schemas/email_object"}},"bcc":{"maxItems":1000,"type":"array","description":"An array of recipients who will receive a blind carbon copy of your email. Each object within this array may contain the name, but must always contain the email, of a recipient.","items":{"$ref":"#/components/schemas/email_object"}},"subject":{"minLength":1,"type":"string","description":"The subject of your email. Char length requirements, according to the RFC - http://stackoverflow.com/questions/1592291/what-is-the-email-subject-length-limit#answer-1592310"},"headers":{"type":"object","properties":{},"description":"A collection of JSON key/value pairs allowing you to specify specific handling instructions for your email. You may not overwrite the following headers: x-sg-id, x-sg-eid, received, dkim-signature, Content-Type, Content-Transfer-Encoding, To, From, Subject, Reply-To, CC, BCC"},"substitutions":{"type":"object","properties":{},"description":"A collection of key/value pairs following the pattern \"substitution_tag\":\"value to substitute\". All are assumed to be strings. These substitutions will apply to the text and html content of the body of your email, in addition to the `subject` and `reply-to` parameters."},"custom_args":{"type":"object","properties":{},"description":"Values that are specific to this personalization that will be carried along with the email and its activity data. Substitutions will not be made on custom arguments, so any string that is entered into this parameter will be assumed to be the custom argument that you would like to be used. May not exceed 10,000 bytes."},"send_at":{"type":"integer","description":"A unix timestamp allowing you to specify when you want your email to be delivered. Scheduling more than 72 hours in advance is forbidden."}}}},"from":{"$ref":"#/components/schemas/email_object"},"reply_to":{"$ref":"#/components/schemas/email_object"},"subject":{"minLength":1,"type":"string","description":"The global, or “message level”, subject of your email. This may be overridden by personalizations[x].subject."},"content":{"type":"array","description":"An array in which you may specify the content of your email. You can include multiple mime types of content, but you must specify at least one mime type. To include more than one mime type, simply add another object to the array containing the `type` and `value` parameters.","items":{"required":["type","value"],"type":"object","properties":{"type":{"minLength":1,"type":"string","description":"The mime type of the content you are including in your email. For example, “text/plain” or “text/html”."},"value":{"minLength":1,"type":"string","description":"The actual content of the specified mime type that you are including in your email."}}}},"attachments":{"type":"array","description":"An array of objects in which you can specify any attachments you want to include.","items":{"required":["content","filename"],"type":"object","properties":{"content":{"minLength":1,"type":"string","description":"The Base64 encoded content of the attachment."},"type":{"minLength":1,"type":"string","description":"The mime type of the content you are attaching. For example, “text/plain” or “text/html”."},"filename":{"type":"string","description":"The filename of the attachment."},"disposition":{"type":"string","description":"The content-disposition of the attachment specifying how you would like the attachment to be displayed. For example, “inline” results in the attached file being displayed automatically within the message while “attachment” results in the attached file requiring some action to be taken before it is displayed (e.g. opening or downloading the file).","default":"attachment","enum":["inline","attachment"]},"content_id":{"type":"string","description":"The content id for the attachment. This is used when the disposition is set to “inline” and the attachment is an image, allowing the file to be displayed within the body of your email."}}}},"template_id":{"type":"string","description":"The id of a template that you would like to use. If you use a template that contains a subject and content (either text or html), you do not need to specify those at the personalizations nor message level. "},"sections":{"type":"object","properties":{},"description":"An object of key/value pairs that define block sections of code to be used as substitutions."},"headers":{"type":"object","properties":{},"description":"An object containing key/value pairs of header names and the value to substitute for them. You must ensure these are properly encoded if they contain unicode characters. Must not be one of the reserved headers."},"categories":{"maxItems":10,"uniqueItems":true,"type":"array","description":"An array of category names for this message. Each category name may not exceed 255 characters. ","items":{"maxLength":255,"type":"string"}},"custom_args":{"type":"object","properties":{},"description":"Values that are specific to the entire send that will be carried along with the email and its activity data. Substitutions will not be made on custom arguments, so any string that is entered into this parameter will be assumed to be the custom argument that you would like to be used. This parameter is overridden by personalizations[x].custom_args if that parameter has been defined. Total custom args size may not exceed 10,000 bytes."},"send_at":{"type":"integer","description":"A unix timestamp allowing you to specify when you want your email to be delivered. This may be overridden by the personalizations[x].send_at parameter. Scheduling more ta 72 hours in advance is forbidden."},"batch_id":{"type":"string","description":"This ID represents a batch of emails to be sent at the same time. Including a batch_id in your request allows you include this email in that batch, and also enables you to cancel or pause the delivery of that batch. For more information, see https://sendgrid.com/docs/API_Reference/Web_API_v3/cancel_schedule_send.html "},"asm":{"required":["group_id"],"type":"object","properties":{"group_id":{"type":"integer","description":"The unsubscribe group to associate with this email."},"groups_to_display":{"maxItems":25,"type":"array","description":"An array containing the unsubscribe groups that you would like to be displayed on the unsubscribe preferences page.","items":{"type":"integer"}}},"description":"An object allowing you to specify how to handle unsubscribes."},"ip_pool_name":{"maxLength":64,"minLength":2,"type":"string","description":"The IP Pool that you would like to send this email from."},"mail_settings":{"type":"object","properties":{"bcc":{"type":"object","properties":{"enable":{"type":"boolean","description":"Indicates if this setting is enabled."},"email":{"type":"string","description":"The email address that you would like to receive the BCC.","format":"email"}},"description":"This allows you to have a blind carbon copy automatically sent to the specified email address for every email that is sent."},"bypass_list_management":{"type":"object","properties":{"enable":{"type":"boolean","description":"Indicates if this setting is enabled."}},"description":"Allows you to bypass all unsubscribe groups and suppressions to ensure that the email is delivered to every single recipient. This should only be used in emergencies when it is absolutely necessary that every recipient receives your email."},"footer":{"type":"object","properties":{"enable":{"type":"boolean","description":"Indicates if this setting is enabled."},"text":{"type":"string","description":"The plain text content of your footer."},"html":{"type":"string","description":"The HTML content of your footer."}},"description":"The default footer that you would like included on every email."},"sandbox_mode":{"type":"object","properties":{"enable":{"type":"boolean","description":"Indicates if this setting is enabled."}},"description":"This allows you to send a test email to ensure that your request body is valid and formatted correctly."},"spam_check":{"type":"object","properties":{"enable":{"type":"boolean","description":"Indicates if this setting is enabled."},"threshold":{"maximum":1E+1,"minimum":1,"type":"integer","description":"The threshold used to determine if your content qualifies as spam on a scale from 1 to 10, with 10 being most strict, or most likely to be considered as spam."},"post_to_url":{"type":"string","description":"An Inbound Parse URL that you would like a copy of your email along with the spam report to be sent to."}},"description":"This allows you to test the content of your email for spam."}},"description":"A collection of different mail settings that you can use to specify how you would like this email to be handled."},"tracking_settings":{"type":"object","properties":{"click_tracking":{"type":"object","properties":{"enable":{"type":"boolean","description":"Indicates if this setting is enabled."},"enable_text":{"type":"boolean","description":"Indicates if this setting should be included in the text/plain portion of your email."}},"description":"Allows you to track whether a recipient clicked a link in your email."},"open_tracking":{"type":"object","properties":{"enable":{"type":"boolean","description":"Indicates if this setting is enabled."},"substitution_tag":{"type":"string","description":"Allows you to specify a substitution tag that you can insert in the body of your email at a location that you desire. This tag will be replaced by the open tracking pixel."}},"description":"Allows you to track whether the email was opened or not, but including a single pixel image in the body of the content. When the pixel is loaded, we can log that the email was opened."},"subscription_tracking":{"type":"object","properties":{"enable":{"type":"boolean","description":"Indicates if this setting is enabled."},"text":{"type":"string","description":"Text to be appended to the email, with the subscription tracking link. You may control where the link is by using the tag <% %>"},"html":{"type":"string","description":"HTML to be appended to the email, with the subscription tracking link. You may control where the link is by using the tag <% %>"},"substitution_tag":{"type":"string","description":"A tag that will be replaced with the unsubscribe URL. for example: [unsubscribe_url]. If this parameter is used, it will override both the `text` and `html` parameters. The URL of the link will be placed at the substitution tag’s location, with no additional formatting."}},"description":"Allows you to insert a subscription management link at the bottom of the text and html bodies of your email. If you would like to specify the location of the link within your email, you may use the substitution_tag."},"ganalytics":{"type":"object","properties":{"enable":{"type":"boolean","description":"Indicates if this setting is enabled."},"utm_source":{"type":"string","description":"Name of the referrer source. (e.g. Google, SomeDomain.com, or Marketing Email)"},"utm_medium":{"type":"string","description":"Name of the marketing medium. (e.g. Email)"},"utm_term":{"type":"string","description":"Used to identify any paid keywords.\t"},"utm_content":{"type":"string","description":"Used to differentiate your campaign from advertisements.\t"},"utm_campaign":{"type":"string","description":"The name of the campaign.\t"}},"description":"Allows you to enable tracking provided by Google Analytics."}},"description":"Settings to determine how you would like to track the metrics of how your recipients interact with your email."}},"example":{"personalizations":[{"to":[{"email":"john.doe@example.com","name":"John Doe"}],"subject":"Hello, World!"}],"from":{"email":"sam.smith@example.com","name":"Sam Smith"},"reply_to":{"email":"sam.smith@example.com","name":"Sam Smith"},"subject":"Hello, World!","content":[{"type":"text/html","value":"<html><p>Hello, world!</p></html>"}]}}}},"required":false},"responses":{"202":{"description":"","content":{}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errors"}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errors"}}}},"413":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errors"}}}}},"security":[{"Authorization":[]}],"x-codegen-request-body-name":"body"}},"/alerts":{"get":{"tags":["Alerts"],"summary":"Retrieve all alerts","description":"**This endpoint allows you to retieve all of your alerts.**\n\nAlerts allow you to specify an email address to receive notifications regarding your email usage or statistics. \n* Usage alerts allow you to set the threshold at which an alert will be sent.\n* Stats notifications allow you to set how frequently you would like to receive email statistics reports. For example, \"daily\", \"weekly\", or \"monthly\".\n\nFor more information about alerts, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Settings/alerts.html).","operationId":"GET_alerts","parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"}},{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"requestBody":{"content":{"*/*":{}},"required":false},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","description":"The list of alerts.","items":{"required":["created_at","email_to","id","type"],"type":"object","properties":{"created_at":{"type":"integer","description":"A Unix timestamp indicating when the alert was created."},"email_to":{"type":"string","description":"The email address that the alert will be sent to."},"id":{"type":"integer","description":"The ID of the alert."},"percentage":{"type":"integer","description":"If the alert is of type usage_limit, this indicates the percentage of email usage that must be reached before the alert will be sent."},"type":{"type":"string","description":"The type of alert.","enum":["usage_limit","stats_notification"]},"updated_at":{"type":"integer","description":"A Unix timestamp indicating when the alert was last modified."},"frequency":{"type":"string","description":"If the alert is of type stats_notification, this indicates how frequently the stats notifications will be sent. For example, \"daily\", \"weekly\", or \"monthly\"."}}}},"example":[{"created_at":1451498784,"email_to":"example1@example.com","id":46,"percentage":90,"type":"usage_limit","updated_at":1451498784},{"created_at":1451498812,"email_to":"example2@example.com","frequency":"monthly","id":47,"type":"stats_notification","updated_at":1451498812},{"created_at":1451520930,"email_to":"example3@example.com","frequency":"daily","id":48,"type":"stats_notification","updated_at":1451520930}]}}}},"security":[{"Authorization":[]}],"x-codegen-request-body-name":"body"},"post":{"tags":["Alerts"],"summary":"Create a new Alert","description":"**This endpoint allows you to create a new alert.**\n\nAlerts allow you to specify an email address to receive notifications regarding your email usage or statistics. There are two types of alerts that can be created with this endpoint:\n\n* `usage_limit` allows you to set the threshold at which an alert will be sent.\n* `stats_notification` allows you to set how frequently you would like to receive email statistics reports. For example, \"daily\", \"weekly\", or \"monthly\".\n\nFor more information about alerts, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Settings/alerts.html).","operationId":"POST_alerts","parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"}},{"name":"on-behalf-of","in":"header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["type"],"type":"object","properties":{"type":{"type":"string","description":"The type of alert you want to create. Can be either usage_limit or stats_notification.\nExample: usage_limit","enum":["stats_notification","usage_limit"]},"frequency":{"type":"string","description":"Required for stats_notification. How frequently the alert will be sent.\nExample: daily"},"percentage":{"type":"integer","description":"Required for usage_alert. When this usage threshold is reached, the alert will be sent.\nExample: 90"}},"example":{"type":"stats_notification","email_to":"example@example.com","frequency":"daily"}}}},"required":false},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"required":["created_at","email_to","id","type","updated_at"],"type":"object","properties":{"created_at":{"type":"integer","description":"A Unix timestamp indicating when the alert was created."},"email_to":{"type":"string","description":"The email address that the alert will be sent to."},"frequency":{"type":"string","description":"If the alert is of type stats_notification, this indicates how frequently the stats notifications will be sent. For example, \"daily\", \"weekly\", or \"monthly\"."},"id":{"type":"integer","description":"The ID of the alert."},"type":{"type":"string","description":"The type of alert."},"updated_at":{"type":"integer","description":"A Unix timestamp indicating when the alert was last modified."},"percentage":{"type":"integer","description":"\"If the alert is of type usage_limit, this indicates the percentage of email usage that must be reached before the alert will be sent."}}},"example":{"created_at":1451520930,"email_to":"test@example.com","frequency":"daily","id":48,"type":"stats_notification","updated_at":1451520930}}}},"400":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"field":{"type":"string"},"message":{"type":"string"}}}}}}},"security":[{"Authorization":[]}],"x-codegen-request-body-name":"body"}},"/alerts/{alert_id}":{"get":{"tags":["Alerts"],"summary":"Retrieve a specific alert","description":"**This endpoint allows you to retrieve a specific alert.**\n\nAlerts allow you to specify an email address to receive notifications regarding your email usage or statistics. \n* Usage alerts allow you to set the threshold at which an alert will be sent.\n* Stats notifications allow you to set how frequently you would like to receive email statistics reports. For example, \"daily\", \"weekly\", or \"monthly\".\n\nFor more information about alerts, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Settings/alerts.html).","operationId":"GET_alerts-alert_id","parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"}},{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"required":["created_at","email_to","id","type","updated_at"],"type":"object","properties":{"created_at":{"type":"integer","description":"A Unix timestamp indicating when the alert was created."},"email_to":{"type":"string","description":"The email address that the alert will be sent to."},"frequency":{"type":"string","description":"If the alert is of type stats_notification, this indicates how frequently the stats notifications will be sent. For example: \"daily\", \"weekly\", or \"monthly\"."},"id":{"type":"integer","description":"The ID of the alert."},"type":{"type":"string","description":"The type of alert.","enum":["usage_alert","stats_notification"]},"updated_at":{"type":"integer","description":"A Unix timestamp indicating when the alert was last modified."},"percentage":{"type":"integer","description":"If the alert is of type usage_limit, this indicates the percentage of email usage that must be reached before the alert will be sent."}}},"example":{"created_at":1451520930,"email_to":"example@example.com","frequency":"daily","id":48,"type":"stats_notification","updated_at":1451520930}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["Alerts"],"summary":"Delete an alert","description":"**This endpoint allows you to delete an alert.**\n\nAlerts allow you to specify an email address to receive notifications regarding your email usage or statistics. \n* Usage alerts allow you to set the threshold at which an alert will be sent.\n* Stats notifications allow you to set how frequently you would like to receive email statistics reports. For example, \"daily\", \"weekly\", or \"monthly\".\n\nFor more information about alerts, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Settings/alerts.html).","operationId":"DELETE_alerts-alert_id","parameters":[{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"responses":{"204":{"description":"","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"Authorization":[]}]},"patch":{"tags":["Alerts"],"summary":"Update an alert","description":"**This endpoint allows you to update an alert.**\n\nAlerts allow you to specify an email address to receive notifications regarding your email usage or statistics. \n* Usage alerts allow you to set the threshold at which an alert will be sent.\n* Stats notifications allow you to set how frequently you would like to receive email statistics reports. For example, \"daily\", \"weekly\", or \"monthly\".\n\nFor more information about alerts, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Settings/alerts.html).","operationId":"PATCH_alerts-alert_id","parameters":[{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"email_to":{"type":"string","description":"The new email address you want your alert to be sent to.\nExample: test@example.com"},"frequency":{"type":"string","description":"The new frequency at which to send the stats_notification alert.\nExample: monthly"},"percentage":{"type":"integer","description":"The new percentage threshold at which the usage_limit alert will be sent.\nExample: 90"}},"example":{"email_to":"example@example.com"}}}},"required":false},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"required":["created_at","email_to","id","type","updated_at"],"type":"object","properties":{"created_at":{"type":"integer","description":"A Unix timestamp indicating when the alert was created."},"email_to":{"type":"string","description":"The email address that the alert will be sent to."},"frequency":{"type":"string","description":"If the alert is of type stats_notification, this indicates how frequently the stats notifications will be sent. For example: \"daily\", \"weekly\", or \"monthly\"."},"id":{"type":"integer","description":"The ID of the alert."},"type":{"type":"string","description":"The type of alert.","enum":["usage_alert","stats_notification"]},"updated_at":{"type":"integer","description":"A Unix timestamp indicating when the alert was last modified."},"percentage":{"type":"integer","description":"If the alert is of type usage_limit, this indicates the percentage of email usage that must be reached before the alert will be sent."}}},"example":{"created_at":1451520930,"email_to":"example@example.com","frequency":"daily","id":48,"type":"stats_notification","updated_at":1451522691}}}}},"security":[{"Authorization":[]}],"x-codegen-request-body-name":"body"},"parameters":[{"name":"alert_id","in":"path","description":"The ID of the alert you would like to retrieve.","required":true,"schema":{"type":"integer"}}]},"/api_keys":{"get":{"tags":["API Keys"],"summary":"Retrieve all API Keys belonging to the authenticated user","description":"**This endpoint allows you to retrieve all API Keys that belong to the authenticated user.**\n\nThe API Keys feature allows customers to be able to generate an API Key credential which can be used for authentication with the SendGrid v3 Web API or the [Mail API Endpoint](https://sendgrid.com/docs/API_Reference/Web_API/mail.html).","operationId":"GET_api_keys","parameters":[{"name":"limit","in":"query","schema":{"type":"integer"}},{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"array","items":{"$ref":"#/components/schemas/api_key_name_id"}}}},"example":{"result":[{"name":"API Key Name","api_key_id":"some-apikey-id"},{"name":"API Key Name 2","api_key_id":"another-apikey-id"}]}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"authorization required"}]}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["API Keys"],"summary":"Create API keys","description":"**This endpoint allows you to create a new random API Key for the user.**\n\nA JSON request body containing a \"name\" property is required. If number of maximum keys is reached, HTTP 403 will be returned.\n\nThere is a limit of 100 API Keys on your account.\n\nThe API Keys feature allows customers to be able to generate an API Key credential which can be used for authentication with the SendGrid v3 Web API or the [Mail API Endpoint](https://sendgrid.com/docs/API_Reference/Web_API/mail.html).\n\nSee the [API Key Permissions List](https://sendgrid.com/docs/API_Reference/Web_API_v3/API_Keys/api_key_permissions_list.html) for a list of all available scopes.","operationId":"create-api-keys","parameters":[{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"requestBody":{"content":{"application/json":{"schema":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"The name you will use to describe this API Key."},"scopes":{"type":"array","description":"The individual permissions that you are giving to this API Key.","items":{"type":"string"}},"sample":{"type":"string"}},"example":{"name":"My API Key","scopes":["mail.send","alerts.create","alerts.read"],"sample":"data"}}}},"required":false},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"api_key":{"type":"string"},"api_key_id":{"type":"string"},"name":{"type":"string"},"scopes":{"type":"array","items":{"type":"string"}}}},"example":{"api_key":"SG.xxxxxxxx.yyyyyyyy","api_key_id":"xxxxxxxx","name":"My API Key","scopes":["mail.send","alerts.create","alerts.read"]}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"field":"name","message":"missing required argument"}]}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"authorization required"}]}}}},"403":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"Cannot create more than 100 API Keys"}]}}}}},"security":[{"Authorization":[]}],"x-codegen-request-body-name":"body"}},"/api_keys/{api_key_id}":{"get":{"tags":["API Keys"],"summary":"Retrieve an existing API Key","description":"**This endpoint allows you to retrieve a single api key.**\n\nIf the API Key ID does not exist an HTTP 404 will be returned.","operationId":"GET_api_keys-api_key_id","parameters":[{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"array","items":{"$ref":"#/components/schemas/api_key_name_id_scopes"}}}},"example":{"result":[{"name":"API Key Name","api_key_id":"some-apikey-id"},{"name":"API Key Name 2","api_key_id":"another-apikey-id"}]}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"authorization required"}]}}}},"404":{"description":"Unexpected error in API call. See HTTP response body for details.","content":{"application/json":{"schema":{"type":"object"},"example":{"errors":[{"message":"unable to find API Key"}]}}}}},"security":[{"Authorization":[]}]},"put":{"tags":["API Keys"],"summary":"Update the name & scopes of an API Key","description":"**This endpoint allows you to update the name and scopes of a given API key.**\n\nA JSON request body with a \"name\" property is required.\nMost provide the list of all the scopes an api key should have.\n\nThe API Keys feature allows customers to be able to generate an API Key credential which can be used for authentication with the SendGrid v3 Web API or the [Mail API Endpoint](https://sendgrid.com/docs/API_Reference/Web_API/mail.html).","operationId":"PUT_api_keys-api_key_id","parameters":[{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"scopes":{"type":"array","items":{"type":"string"}}},"example":{"name":"A New Hope","scopes":["user.profile.read","user.profile.update"]}}}},"required":false},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api_key_name_id_scopes"},"example":{"api_key_id":"qfTQ6KG0QBiwWdJ0-pCLCA","name":"A New Hope","scopes":["user.profile.read","user.profile.update"]}}}},"400":{"description":"Unexpected error in API call. See HTTP response body for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"expected JSON request body with 'name' property"}]}}}},"401":{"description":"","content":{"application/json":{"schema":{"type":"object"}}}},"404":{"description":"Unexpected error in API call. See HTTP response body for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"unable to find API Key to update"}]}}}}},"security":[{"Authorization":[]}],"x-codegen-request-body-name":"body"},"delete":{"tags":["API Keys"],"summary":"Delete API keys","description":"**This endpoint allows you to revoke an existing API Key**\n\nAuthentications using this API Key will fail after this request is made, with some small propogation delay.If the API Key ID does not exist an HTTP 404 will be returned.\n\nThe API Keys feature allows customers to be able to generate an API Key credential which can be used for authentication with the SendGrid v3 Web API or the [Mail API Endpoint](https://sendgrid.com/docs/API_Reference/Web_API/mail.html).\n\n## URI Parameters\n\n| URI Parameter   | Type  | Required?  | Description  |\n|---|---|---|---|\n|api_key_id |string | required | The ID of the API Key you are deleting.|","operationId":"DELETE_api_keys-api_key_id","parameters":[{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"responses":{"204":{"description":"","content":{"application/json":{}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"unable to find API Key"}]}}}}},"security":[{"Authorization":[]}]},"patch":{"tags":["API Keys"],"summary":"Update API keys","description":"**This endpoint allows you to update the name of an existing API Key.**\n\nA JSON request body with a \"name\" property is required.\n\nThe API Keys feature allows customers to be able to generate an API Key credential which can be used for authentication with the SendGrid v3 Web API or the [Mail API Endpoint](https://sendgrid.com/docs/API_Reference/Web_API/mail.html).\n\n## URI Parameters\n\n| URI Parameter   | Type  | Required?  | Description  |\n|---|---|---|---|\n|api_key_id |string | required | The ID of the API Key you are updating.|","operationId":"PATCH_api_keys-api_key_id","parameters":[{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The new name of the API Key."}},"example":{"name":"A New Hope"}}}},"required":false},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api_key_name_id"},"example":{"api_key_id":"qfTQ6KG0QBiwWdJ0-pCLCA","name":"A New Hope"}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"authorization required"}]}}}}},"security":[{"Authorization":[]}],"x-codegen-request-body-name":"body"},"parameters":[{"name":"api_key_id","in":"path","description":"The ID of the API Key for which you are requesting information.","required":true,"schema":{"type":"string"}}]},"/suppression/blocks":{"get":{"tags":["Blocks API"],"summary":"Retrieve all blocks","description":"**This endpoint allows you to retrieve a list of all email addresses that are currently on your blocks list.**\n\nThere are several causes for [blocked](https://sendgrid.com/docs/Glossary/blocks.html) emails: for example, your mail server IP address is on an ISP blacklist, or blocked by an ISP, or if the receiving server flags the message content.\n\nFor more information, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Suppressions/blocks.html).","operationId":"GET_suppression-blocks","parameters":[{"name":"start_time","in":"query","description":"Refers start of the time range in unix timestamp when a blocked email was created (inclusive).","schema":{"type":"integer"}},{"name":"end_time","in":"query","description":"Refers end of the time range in unix timestamp when a blocked email was created (inclusive).","schema":{"type":"integer"}},{"name":"limit","in":"query","description":"Limit the number of results to be displayed per page.","schema":{"type":"integer"}},{"name":"offset","in":"query","description":"The point in the list to begin displaying results.","schema":{"type":"integer"}},{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"required":["created","email","reason","status"],"type":"object","properties":{"created":{"type":"integer","description":"A Unix timestamp indicating when the email address was added to the blocks list."},"email":{"type":"string","description":"The email address that was added to the block list."},"reason":{"type":"string","description":"An explanation for the reason of the block."},"status":{"type":"string","description":"The status of the block."}}}},"example":[{"created":1443651154,"email":"example@example.com","reason":"error dialing remote address: dial tcp 10.57.152.165:25: no route to host","status":"4.0.0"}]}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["Blocks API"],"summary":"Delete blocks","description":"**This endpoint allows you to delete all email addresses on your blocks list.**\n\nThere are two options for deleting blocked emails: \n\n1. You can delete all blocked emails by setting `delete_all` to true in the request body. \n2. You can delete some blocked emails by specifying the email addresses in an array in the request body.\n\n[Blocks](https://sendgrid.com/docs/Glossary/blocks.html) happen when your message was rejected for a reason related to the message, not the recipient address. This can happen when your mail server IP address has been added to a blacklist or blocked by an ISP, or if the message content is flagged by a filter on the receiving server.\n\nFor more information, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Suppressions/blocks.html).","operationId":"DELETE_suppression-blocks","parameters":[{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"requestBody":{"content":{"*/*":{"schema":{"type":"object","properties":{"delete_all":{"type":"boolean","description":"Indicates if you want to delete all blocked email addresses."},"emails":{"type":"array","description":"The specific blocked email addresses that you want to delete.","items":{"type":"string"}}},"example":{"delete_all":false,"emails":["example1@example.com","example2@example.com"]}}}},"required":false},"responses":{"204":{"description":"","content":{"application/json":{"schema":{"type":"object"}}}}},"security":[{"Authorization":[]}],"x-codegen-request-body-name":"body"}},"/suppression/blocks/{email}":{"get":{"tags":["Blocks API"],"summary":"Retrieve a specific block","description":"**This endpoint allows you to retrieve a specific email address from your blocks list.**\n\n[Blocks](https://sendgrid.com/docs/Glossary/blocks.html) happen when your message was rejected for a reason related to the message, not the recipient address. This can happen when your mail server IP address has been added to a blacklist or blocked by an ISP, or if the message content is flagged by a filter on the receiving server.\n\nFor more information, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Suppressions/blocks.html).","operationId":"GET_suppression-blocks-email","parameters":[{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"required":["created","email","reason"],"type":"object","properties":{"created":{"type":"integer","description":"A Unix timestamp indicating when the block was created."},"email":{"type":"string","description":"The email address of the recipient that was blocked."},"reason":{"type":"string","description":"The reason why the email was blocked."},"status":{"type":"string","description":"The status of the block."}}}},"example":[{"created":1443651154,"email":"example@example.com","reason":"error dialing remote address: dial tcp 10.57.152.165:25: no route to host","status":"4.0.0"}]}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["Blocks API"],"summary":"Delete a specific block","description":"**This endpoint allows you to delete a specific email address from your blocks list.**\n\n[Blocks](https://sendgrid.com/docs/Glossary/blocks.html) happen when your message was rejected for a reason related to the message, not the recipient address. This can happen when your mail server IP address has been added to a blacklist or blocked by an ISP, or if the message content is flagged by a filter on the receiving server.\n\nFor more information, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Suppressions/blocks.html).","operationId":"DELETE_suppression-blocks-email","parameters":[{"$ref":"#/components/parameters/trait:authorizationHeader:Authorization"},{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"requestBody":{"content":{"*/*":{}},"required":false},"responses":{"204":{"description":"","content":{"*/*":{"schema":{"type":"object"}}}}},"x-codegen-request-body-name":"body"},"parameters":[{"name":"email","in":"path","description":"The email address of the specific block.","required":true,"schema":{"type":"string"}}]},"/scopes":{"get":{"tags":["API Key Permissions"],"summary":"Retrieve a list of scopes for which this user has access.","description":"**This endpoint returns a list of all scopes that this user has access to.**\n\nAPI Keys can be used to authenticate the use of [SendGrid’s v3 Web API](https://sendgrid.com/docs/API_Reference/Web_API_v3/index.html), or the [Mail API Endpoint](https://sendgrid.com/docs/API_Reference/Web_API/mail.html). API Keys may be assigned certain permissions, or scopes, that limit which API endpoints they are able to access. For a more detailed explanation of how you can use API Key permissios, please visit our [User Guide](https://sendgrid.com/docs/User_Guide/Settings/api_keys.html#-API-Key-Permissions) or [Classroom](https://sendgrid.com/docs/Classroom/Basics/API/api_key_permissions.html).","operationId":"GET_scopes","parameters":[{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"required":["scopes"],"type":"object","properties":{"scopes":{"uniqueItems":true,"type":"array","description":"The list of scopes for which this user has access.","items":{"type":"string"}}}},"example":{"scopes":["mail.send","alerts.create","alerts.read"]}}}},"401":{"description":"","content":{"application/json":{"schema":{"required":["errors"],"type":"object","properties":{"errors":{"type":"array","description":"This 401 response indicates that the user making the call doesn't have the authorization to view the list of scopes.","items":{"required":["message"],"type":"object","properties":{"message":{"type":"string","description":"Explains why the scopes cannot be returned."}}}}}},"example":{"errors":[{"message":"authorization required"}]}}}}},"security":[{"Authorization":[]}]}},"/suppression/bounces":{"get":{"tags":["Bounces API"],"summary":"Retrieve all bounces","description":"**This endpoint allows you to retrieve all of your bounces.**\n\nA bounced email is when the message is undeliverable and then returned to the server that sent it.  \n\nFor more information see: \n\n* [User Guide > Bounces](https://sendgrid.com/docs/User_Guide/Suppressions/bounces.html) for more information\n* [Glossary > Bounces](https://sendgrid.com/docs/Glossary/Bounces.html)","operationId":"GET_suppression-bounces","parameters":[{"name":"start_time","in":"query","description":"Refers start of the time range in unix timestamp when a bounce was created (inclusive).","schema":{"type":"integer"}},{"name":"end_time","in":"query","description":"Refers end of the time range in unix timestamp when a bounce was created (inclusive).","schema":{"type":"integer"}},{"name":"Accept","in":"header","required":true,"schema":{"type":"string","default":"application/json"}},{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"created":{"type":"number"},"email":{"type":"string"},"reason":{"type":"string"},"status":{"type":"string"}}}},"example":[{"created":1250337600,"email":"example@example.com","reason":"550 5.1.1 The email account that you tried to reach does not exist. Please try double-checking the recipient's email address for typos or unnecessary spaces. Learn more at  https://support.google.com/mail/answer/6596 o186si2389584ioe.63 - gsmtp ","status":"5.1.1"},{"created":1250337600,"email":"example@example.com","reason":"550 5.1.1 <testemail2@testing.com>: Recipient address rejected: User unknown in virtual alias table ","status":"5.1.1"}]}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"authorization required"}]}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["Bounces API"],"summary":"Delete bounces","description":"**This endpoint allows you to delete all of your bounces. You can also use this endpoint to remove a specific email address from your bounce list.**\n\nA bounced email is when the message is undeliverable and then returned to the server that sent it.\n\nFor more information see: \n\n* [User Guide > Bounces](https://sendgrid.com/docs/User_Guide/Suppressions/bounces.html) for more information\n* [Glossary > Bounces](https://sendgrid.com/docs/Glossary/Bounces.html)\n* [Classroom > List Scrubbing Guide](https://sendgrid.com/docs/Classroom/Deliver/list_scrubbing.html)\n\nNote: the `delete_all` and `emails` parameters should be used independently of each other as they have different purposes.","operationId":"DELETE_suppression-bounces","parameters":[{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"delete_all":{"type":"boolean","description":"This parameter allows you to delete **every** email in your bounce list. This should not be used with the emails parameter."},"emails":{"type":"array","description":"Delete multiple emails from your bounce list at the same time. This should not be used with the delete_all parameter.","items":{"type":"string"}}},"example":{"delete_all":true,"emails":["example@example.com","example2@example.com"]}}}},"required":false},"responses":{"204":{"description":"","content":{}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"authorization required"}]}}}}},"security":[{"Authorization":[]}],"x-codegen-request-body-name":"body"}},"/suppression/bounces/{email}":{"get":{"tags":["Bounces API"],"summary":"Retrieve a Bounce","description":"**This endpoint allows you to retrieve a specific bounce for a given email address.**\n\nA bounced email is when the message is undeliverable and then returned to the server that sent it.\n\nFor more information see: \n\n* [User Guide > Bounces](https://sendgrid.com/docs/User_Guide/Suppressions/bounces.html) for more information\n* [Glossary > Bounces](https://sendgrid.com/docs/Glossary/Bounces.html)\n* [Classroom > List Scrubbing Guide](https://sendgrid.com/docs/Classroom/Deliver/list_scrubbing.html)","operationId":"GET_suppression-bounces-email","parameters":[{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"created":{"type":"integer"},"email":{"type":"string"},"reason":{"type":"string"},"status":{"type":"string"}}}},"example":[{"created":1443651125,"email":"bounce1@test.com","reason":"550 5.1.1 The email account that you tried to reach does not exist. Please try double-checking the recipient's email address for typos or unnecessary spaces. Learn more at  https://support.google.com/mail/answer/6596 o186si2389584ioe.63 - gsmtp ","status":"5.1.1"}]}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["Bounces API"],"summary":"Delete a bounce","description":"**This endpoint allows you to remove an email address from your bounce list.**\n\nA bounced email is when the message is undeliverable and then returned to the server that sent it. This endpoint allows you to delete a single email addresses from your bounce list. \n\nFor more information see: \n\n* [User Guide > Bounces](https://sendgrid.com/docs/User_Guide/Suppressions/bounces.html) for more information\n* [Glossary > Bounces](https://sendgrid.com/docs/Glossary/Bounces.html)\n* [Classroom > List Scrubbing Guide](https://sendgrid.com/docs/Classroom/Deliver/list_scrubbing.html)","operationId":"DELETE_suppression-bounces-email","parameters":[{"name":"email_address","in":"query","description":"The email address you would like to remove from the bounce list.","required":true,"schema":{"type":"string","format":"email"}},{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"requestBody":{"content":{"*/*":{}},"required":false},"responses":{"204":{"description":"","content":{"application/json":{"schema":{"type":"object"}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"authorization required"}]}}}}},"security":[{"Authorization":[]}],"x-codegen-request-body-name":"body"},"parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}}]},"/campaigns":{"get":{"tags":["Campaigns API"],"summary":"Retrieve all Campaigns","description":"**This endpoint allows you to retrieve a list of all of your campaigns.**\n\nReturns campaigns in reverse order they were created (newest first).\n\nReturns an empty array if no campaigns exist.\n\nFor more information:\n\n* [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)","operationId":"GET_campaigns","parameters":[{"name":"limit","in":"query","description":"The number of results you would like to receive at a time.","schema":{"type":"integer","default":10}},{"name":"offset","in":"query","description":"The index of the first campaign to return, where 0 is the first campaign.","schema":{"type":"integer","default":0}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"array","items":{"type":"object","properties":{"categories":{"type":"array","items":{"type":"string"}},"custom_unsubscribe_url":{"type":"string"},"html_content":{"type":"string"},"id":{"type":"integer"},"ip_pool":{"type":"string"},"list_ids":{"type":"array","items":{"type":"integer"}},"plain_content":{"type":"string"},"segment_ids":{"type":"array","items":{"type":"integer"}},"sender_id":{"type":"integer"},"status":{"type":"string"},"subject":{"type":"string"},"suppression_group_id":{"type":"integer"},"title":{"type":"string"}}}}}},"example":{"result":[{"categories":["spring line"],"custom_unsubscribe_url":"","html_content":"<html><head><title></title></head><body><p>Check out our spring line!</p></body></html>","id":986724,"ip_pool":"marketing","list_ids":[110],"plain_content":"Check out our spring line!","segment_ids":[110],"sender_id":124451,"status":"Draft","subject":"New Products for Spring!","suppression_group_id":42,"title":"March Newsletter"}]}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["Campaigns API"],"summary":"Create a Campaign","description":"**This endpoint allows you to create a campaign.**\n\nOur Marketing Campaigns API lets you create, manage, send, and schedule campaigns.\n\nNote: In order to send or schedule the campaign, you will be required to provide a subject, sender ID, content (we suggest both html and plain text), and at least one list or segment ID. This information is not required when you create a campaign.\n\nFor more information:\n\n* [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)","operationId":"POST_campaigns","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/campaign_request"}}},"required":false},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/campaign_response"},"example":{"id":986724,"title":"March Newsletter","subject":"New Products for Spring!","sender_id":124451,"list_ids":[110,124],"segment_ids":[110],"categories":["spring line"],"suppression_group_id":42,"custom_unsubscribe_url":"","ip_pool":"marketing","html_content":"<html><head><title></title></head><body><p>Check out our spring line!</p></body></html>","plain_content":"Check out our spring line!","status":"Draft"}}}},"400":{"description":"\"title\": \"title can't be blank\"\n\"title\": \"title is too long (maximum is 100 characters)\"\n\"categories\": \"categories exceeds 10 category limit\"\n\"html_content\": \"html_content exceeds the 1MB limit\"\n\"plain_content\": \"plain_content exceeds the 1MB limit\"\n\"sender_id\": \"sender_id does not exist\"\n\"sender_id\": \"sender_id is not a verified sender identity\"\n\"list_ids\": \"list_ids do not all exist\"\n\"segment_ids\": \"segment_ids do not all exist\"\n\"ip_pool\": \"The ip pool you provided is invalid\"\n\"suppression_group_id\": \"suppression_group_id does not exist\"\n\"unsubscribes\": \"Either suppression_group_id or custom_unsubscribe_url may be set/used, but not both. Please remove one before setting the other.\"\n\"\": \"The JSON you have submitted cannot be parsed.\"\n\"\": \"You've reached your limit of 250 campaigns. Please delete one or more and try again.\"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"field":"title","message":"title can't be blank"},{"field":"title","message":"title is too long (maximum is 100 characters)"},{"field":"categories","message":"categories exceeds 10 category limit"},{"field":"html_content","message":"html_content exceeds the 1MB limit"},{"field":"plain_content","message":"plain_content exceeds the 1MB limit"},{"field":"sender_id","message":"sender_id does not exist"},{"field":"sender_id","message":"sender_id is not a verified sender identity"},{"field":"list_ids","message":"list_ids do not all exist"},{"field":"segment_ids","message":"segment_ids do not all exist"},{"field":"ip_pool","message":"The ip pool you provided is invalid"},{"field":"suppression_group_id","message":"suppression_group_id does not exist"},{"field":"unsubscribes","message":"Either suppression_group_id or custom_unsubscribe_url may be set/used, but not both. Please remove one before setting the other."},{"message":"The JSON you have submitted cannot be parsed."},{"message":"You've reached your limit of 250 campaigns. Please delete one or more and try again."}]}}}},"401":{"description":"","content":{"application/json":{"schema":{"type":"object"}}}}},"security":[{"Authorization":[]}],"x-codegen-request-body-name":"body"}},"/campaigns/{campaign_id}":{"get":{"tags":["Campaigns API"],"summary":"Retrieve a single campaign","description":"**This endpoint allows you to retrieve a specific campaign.**\n\nOur Marketing Campaigns API lets you create, manage, send, and schedule campaigns.\n\nFor more information:\n\n* [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)","operationId":"GET_campaigns-campaign_id","responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"categories":{"type":"array","items":{"type":"string"}},"custom_unsubscribe_url":{"type":"string"},"html_content":{"type":"string"},"id":{"type":"integer"},"ip_pool":{"type":"string"},"list_ids":{"type":"array","items":{"type":"integer"}},"plain_content":{"type":"string"},"segment_ids":{"type":"array","items":{"type":"integer"}},"sender_id":{"type":"integer"},"status":{"type":"string"},"subject":{"type":"string"},"suppression_group_id":{"type":"integer"},"title":{"type":"string"}}},"example":{"categories":["spring line"],"custom_unsubscribe_url":"","html_content":"<html><head><title></title></head><body><p>Check out our spring line!</p></body></html>","id":986724,"ip_pool":"marketing","list_ids":[110],"plain_content":"Check out our spring line!","segment_ids":[110],"sender_id":124451,"status":"Draft","subject":"New Products for Spring!","suppression_group_id":42,"title":"March Newsletter"}}}},"401":{"description":"","content":{"application/json":{"schema":{"type":"object"},"example":{"errors":[{"message":"authorization required"}]}}}},"404":{"description":"\"\": \"not found\"","content":{"application/json":{"schema":{"type":"object"},"example":{"errors":[{"message":"not found"}]}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["Campaigns API"],"summary":"Delete a Campaign","description":"**This endpoint allows you to delete a specific campaign.**\n\nOur Marketing Campaigns API lets you create, manage, send, and schedule campaigns.\n\nFor more information:\n\n* [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)","operationId":"DELETE_campaigns-campaign_id","requestBody":{"content":{"*/*":{}},"required":false},"responses":{"204":{"description":"","content":{}},"401":{"description":"","content":{"application/json":{"schema":{"type":"object"},"example":{"errors":[{"message":"authorization required"}]}}}},"404":{"description":"\"\": \"not found\"","content":{"application/json":{"schema":{"type":"object"}}}}},"security":[{"Authorization":[]}],"x-codegen-request-body-name":"body"},"patch":{"tags":["Campaigns API"],"summary":"Update a Campaign","description":"Update a campaign. This is especially useful if you only set up the campaign using POST /campaigns, but didn't set many of the parameters.\n\nFor more information:\n\n* [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)","operationId":"PATCH_campaigns-campaign_id","requestBody":{"content":{"application/json":{"schema":{"title":"Update a Campaign request","required":["categories","html_content","plain_content","subject","title"],"type":"object","properties":{"title":{"type":"string","description":"The title of the campaign."},"subject":{"type":"string","description":"The subject line for your campaign."},"categories":{"type":"array","description":"The categories you want to tag on this campaign.","items":{"type":"string"}},"html_content":{"type":"string","description":"The HTML content of this campaign."},"plain_content":{"type":"string","description":"The plain content of this campaign."}},"example":{"title":"May Newsletter","subject":"New Products for Summer!","categories":["summer line"],"html_content":"<html><head><title></title></head><body><p>Check out our summer line!</p></body></html>","plain_content":"Check out our summer line!"}}}},"required":false},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/campaign_response"},"example":{"id":986724,"title":"May Newsletter","subject":"New Products for Summer!","sender_id":124451,"list_ids":[110,124],"segment_ids":[110],"categories":["summer line"],"suppression_group_id":42,"custom_unsubscribe_url":"","ip_pool":"marketing","html_content":"<html><head><title></title></head><body><p>Check out our summer line!</p></body></html>","plain_content":"Check out our summer line!","status":"Draft"}}}},"400":{"description":"\"title\": \"title can't be blank\"\n\"title\": \"title is too long (maximum is 100 characters)\"\n\"categories\": \"categories exceeds 10 category limit\"\n\"html_content\": \"html_content exceeds the 1MB limit\"\n\"plain_content\": \"plain_content exceeds the 1MB limit\"\n\"sender_id\": \"sender_id does not exist\"\n\"sender_id\": \"sender_id is not a verified sender identity\"\n\"list_ids\": \"list_ids do not all exist\"\n\"segment_ids\": \"segment_ids do not all exist\"\n\"ip_pool\": \"The ip pool you provided is invalid\"\n\"suppression_group_id\": \"suppression_group_id does not exist\"\n\"unsubscribes\": \"Either suppression_group_id or custom_unsubscribe_url may be set/used, but not both. Please remove one before setting the other.\"\n\"\": \"The JSON you have submitted cannot be parsed.\"","content":{"application/json":{"schema":{"type":"object"},"example":{"errors":[{"field":"title","message":"title can't be blank"},{"field":"title","message":"title is too long (maximum is 100 characters)"},{"field":"categories","message":"categories exceeds 10 category limit"},{"field":"html_content","message":"html_content exceeds the 1MB limit"},{"field":"plain_content","message":"plain_content exceeds the 1MB limit"},{"field":"sender_id","message":"sender_id does not exist"},{"field":"sender_id","message":"sender_id is not a verified sender identity"},{"field":"list_ids","message":"list_ids do not all exist"},{"field":"segment_ids","message":"segment_ids do not all exist"},{"field":"ip_pool","message":"The ip pool you provided is invalid"},{"field":"suppression_group_id","message":"suppression_group_id does not exist"},{"field":"unsubscribes","message":"Either suppression_group_id or custom_unsubscribe_url may be set/used, but not both. Please remove one before setting the other."},{"message":"The JSON you have submitted cannot be parsed."}]}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"authorization required"}]}}}},"403":{"description":"\"\": \"You may only update a campaign when it is in draft mode.\"","content":{"application/json":{"schema":{"type":"object"},"example":{"errors":[{"message":"You may only update a campaign when it is in draft mode."}]}}}},"404":{"description":"\"\": \"not found\"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"not found"}]}}}}},"security":[{"Authorization":[]}],"x-codegen-request-body-name":"body"},"parameters":[{"name":"campaign_id","in":"path","description":"The id of the campaign you would like to retrieve.","required":true,"schema":{"type":"integer"}}]},"/campaigns/{campaign_id}/schedules/now":{"post":{"tags":["Campaigns API"],"summary":"Send a Campaign","description":"**This endpoint allows you to immediately send a campaign at the time you make the API call.**\n\nNormally a POST would have a request body, but since this endpoint is telling us to send a resource that is already created, a request body is not needed.\n\nFor more information:\n\n* [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)","operationId":"POST_campaigns-campaign_id-schedules-now","requestBody":{"content":{"*/*":{}},"required":false},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"title":"Send a Campaign response","required":["id","status"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"status":{"type":"string"}}},"example":{"id":1234,"status":"Scheduled"}}}},"400":{"description":"\"subject\": \"subject can't be blank\"\n\"sender_id\": \"sender_id can't be blank\"\n\"plain_content\": \"plain_content can't be blank, please provide plain text or html content\"\n\"list_ids\": \"You must select at least 1 segment or 1 list to send to.\"\n\"unsubscribe_tag\": \"An [unsubscribe] tag in both your html and plain content is required to send a campaign.\"\n\"suppression_group_id\": \"Either a suppression_group_id or custom_unsubscribe_url is required to send a campaign.\"\n\"\": \"You do not have enough credits to send this campaign. Upgrade your plan to send more: https://app.sendgrid.com/settings/billing\"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"field":"subject","message":"subject can't be blank"},{"field":"sender_id","message":"sender_id can't be blank"},{"field":"plain_content","message":"plain_content can't be blank, please provide plain text or html content"},{"field":"list_id","message":"You must select at least 1 segment or 1 list to send to."},{"field":"unsubscribe_tag","message":"An [unsubscribe] tag in both your html and plain content is required to send a campaign."},{"field":"suppression_group_id","message":"Either a suppression_group_id or custom_unsubscribe_url is required to send a campaign."},{"message":"You do not have enough credits to send this campaign. Upgrade your plan to send more: https://app.sendgrid.com/settings/billing"}]}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"authorization required"}]}}}},"403":{"description":"\"\": \"You may only send a campaign when it is in draft mode.\"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"You may only send a campaign when it is in draft mode."}]}}}},"404":{"description":"\"\": \"not found\"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"not found"}]}}}}},"security":[{"Authorization":[]}],"x-codegen-request-body-name":"body"},"parameters":[{"name":"campaign_id","in":"path","required":true,"schema":{"type":"integer"}}]},"/campaigns/{campaign_id}/schedules":{"get":{"tags":["Campaigns API"],"summary":"View Scheduled Time of a Campaign","description":"**This endpoint allows you to retrieve the date and time that the given campaign has been scheduled to be sent.**\n\nFor more information:\n\n* [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)","operationId":"GET_campaigns-campaign_id-schedules","responses":{"200":{"description":"","content":{"application/json":{"schema":{"title":"View Scheduled Time of a Campaign response","required":["send_at"],"type":"object","properties":{"send_at":{"type":"integer","format":"int64"}}},"example":{"send_at":1490778528}}}},"404":{"description":"\"\": \"not found\"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"not found"}]}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["Campaigns API"],"summary":"Schedule a Campaign","description":"**This endpoint allows you to schedule a specific date and time for your campaign to be sent.**\n\nFor more information:\n\n* [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)","operationId":"POST_campaigns-campaign_id-schedules","requestBody":{"content":{"application/json":{"schema":{"title":"Schedule a Campaign request","required":["send_at"],"type":"object","properties":{"send_at":{"type":"integer","description":"The unix timestamp for the date and time you would like your campaign to be sent out."}},"example":{"send_at":1489771528}}}},"required":false},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"title":"Schedule a Campaign response","required":["id","send_at","status"],"type":"object","properties":{"id":{"type":"integer","description":"The campaign ID."},"send_at":{"type":"integer","description":"The date time you scheduled your campaign to be sent."},"status":{"type":"string","description":"The status of your campaign.","enum":["Scheduled"]}}},"example":{"id":1234,"send_at":1489771528,"status":"Scheduled"}}}},"400":{"description":"\"subject\": \"subject can't be blank\"\n\"sender_id\": \"sender_id can't be blank\"\n\"plain_content\": \"plain_content can't be blank, please provide plain text or html content\"\n\"list_ids\": \"You must select at least 1 segment or 1 list to send to.\"\n\"send_at\": \"Please choose a future time for sending your campaign.\"\n\"unsubscribe_tag\": \"An [unsubscribe] tag in both your html and plain content is required to send a campaign.\"\n\"suppression_group_id\": \"Either a suppression_group_id or custom_unsubscribe_url is required to send a campaign.\"\n\"\": \"The JSON you have submitted cannot be parsed.\"\n\"\":\"You do not have enough credits to send this campaign. Upgrade your plan to send more: https://app.sendgrid.com/settings/billing\"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"field":"subject","message":"subject can't be blank"},{"field":"sender_id","message":"sender_id can't be blank"},{"field":"plain_content","message":"plain_content can't be blank, please provide plain text or html content"},{"field":"list_id","message":"You must select at least 1 segment or 1 list to send to."},{"field":"unsubscribe_tag","message":"An [unsubscribe] tag in both your html and plain content is required to send a campaign."},{"field":"suppression_group_id","message":"Either a suppression_group_id or custom_unsubscribe_url is required to send a campaign."},{"message":"You do not have enough credits to send this campaign. Upgrade your plan to send more: https://app.sendgrid.com/settings/billing"}]}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"authorization required"}]}}}},"403":{"description":"\"\": \"You cannot POST to a campaign that has already sent or scheduled. However you can update a scheduled campaign with a PATCH.\"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"You cannot POST to a campaign that has already sent or scheduled. However you can update a scheduled campaign with a PATCH."}]}}}},"404":{"description":"\"\": \"not found\"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"not found"}]}}}}},"security":[{"Authorization":[]}],"x-codegen-request-body-name":"body"},"delete":{"tags":["Campaigns API"],"summary":"Unschedule a Scheduled Campaign","description":"**This endpoint allows you to unschedule a campaign that has already been scheduled to be sent.**\n\nA successful unschedule will return a 204.\nIf the specified campaign is in the process of being sent, the only option is to cancel (a different method).\n\nFor more information:\n\n* [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)","operationId":"DELETE_campaigns-campaign_id-schedules","requestBody":{"content":{"*/*":{}},"required":false},"responses":{"204":{"description":"","content":{}},"403":{"description":"\"\": \"This campaign is already In Progress.\"\n\"\": \"This campaign is already Sent.\"\n\"\": \"This campaign is already Paused.\"\n\"\": \"This campaign is already Canceled.\"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"This campaign is already In Progress."},{"message":"This campaign is already Sent."},{"message":"This campaign is already Paused."},{"message":"This campaign is already Canceled."}]}}}},"404":{"description":"\"\": \"not found\"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"not found"}]}}}}},"security":[{"Authorization":[]}],"x-codegen-request-body-name":"body"},"patch":{"tags":["Campaigns API"],"summary":"Update a Scheduled Campaign","description":"**This endpoint allows to you change the scheduled time and date for a campaign to be sent.**\n\nFor more information:\n\n* [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)","operationId":"PATCH_campaigns-campaign_id-schedules","requestBody":{"content":{"application/json":{"schema":{"title":"Update a Scheduled Campaign request","required":["send_at"],"type":"object","properties":{"send_at":{"type":"integer","format":"int64"}},"example":{"send_at":1489451436}}}},"required":false},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"title":"Update a Scheduled Campaign response","required":["id","send_at","status"],"type":"object","properties":{"id":{"type":"integer","description":"The campaign ID"},"send_at":{"type":"integer","description":"The unix timestamp to send the campaign."},"status":{"type":"string","description":"The status of the schedule."}}}}}},"400":{"description":"\"\": \"The JSON you have submitted cannot be parsed.\"\n\"send_at\": \"Please choose a future time for sending your campaign.\"\n\"\":\"You do not have enough credits to send this campaign. Upgrade your plan to send more: https://app.sendgrid.com/settings/billing\"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"field":"send_at","message":"Please choose a future time for sending your campaign."},{"message":"The JSON you have submitted cannot be parsed."},{"message":"You do not have enough credits to send this campaign. Upgrade your plan to send https://app.sendgrid.com/settings/billing"}]}}}},"403":{"description":"\"send_at\": \"You cannot update the send_at value of non-scheduled campaign.\"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"field":"send_at","message":"You cannot update the send_at value of non-scheduled campaign."}]}}}},"404":{"description":"\"\": \"not found\"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"not found"}]}}}}},"security":[{"Authorization":[]}],"x-codegen-request-body-name":"body"},"parameters":[{"name":"campaign_id","in":"path","required":true,"schema":{"type":"integer"}}]},"/campaigns/{campaign_id}/schedules/test":{"post":{"tags":["Campaigns API"],"summary":"Send a Test Campaign","description":"**This endpoint allows you to send a test campaign.**\n\nTo send to multiple addresses, use an array for the JSON \"to\" value [\"one@address\",\"two@address\"]\n\nFor more information:\n\n* [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)","operationId":"POST_campaigns-campaign_id-schedules-test","requestBody":{"content":{"application/json":{"schema":{"required":["to"],"type":"object","properties":{"to":{"type":"string","description":"The email address that should receive the test campaign.","format":"email"}},"example":{"to":"your.email@example.com"}}}},"required":false},"responses":{"204":{"description":"","content":{"application/json":{"schema":{"title":"Send a Test Campaign request","required":["to"],"type":"object","properties":{"to":{"type":"string"}}}}}},"400":{"description":"\"\": \"The JSON you have submitted cannot be parsed.\"\n\"to\": \"Please provide an email address to which the test should be sent.\"\n\"to\": \"You can only send tests to 10 addresses at a time.\"\n\"subject\": \"Please add a subject to your campaign before sending a test.\"\n\"plain_content\": \"Plain content and html content can't both be blank. Please set one of these values before sending a test.\"\n\"sender_id\": \"Please assign a sender identity to your campaign before sending a test.\"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"field":"send_at","message":"Please choose a future time for sending your campaign."},{"message":"The JSON you have submitted cannot be parsed."},{"message":"You do not have enough credits to send this campaign. Upgrade your plan to send more: https://app.sendgrid.com/settings/billing"}]}}}},"404":{"description":"\"\": \"not found\"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"not found"}]}}}}},"security":[{"Authorization":[]}],"x-codegen-request-body-name":"body"},"parameters":[{"name":"campaign_id","in":"path","required":true,"schema":{"type":"integer"}}]},"/mail/batch":{"post":{"tags":["Cancel Scheduled Sends"],"summary":"Create a batch ID","description":"**This endpoint allows you to generate a new batch ID. This batch ID can be associated with scheduled sends via the mail/send endpoint.**\n\nIf you set the SMTPAPI header `batch_id`, it allows you to then associate multiple scheduled mail/send requests together with the same ID. Then at anytime up to 10 minutes before the schedule date, you can cancel all of the mail/send requests that have this batch ID by calling the Cancel Scheduled Send endpoint. \n\nMore Information:\n\n* [Scheduling Parameters > Batch ID](https://sendgrid.com/docs/API_Reference/SMTP_API/scheduling_parameters.html)","operationId":"POST_mail-batch","requestBody":{"content":{"*/*":{}},"required":false},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mail_batch_id"},"example":{"batch_id":"YOUR_BATCH_ID"}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"authorization required"}]}}}}},"security":[{"Authorization":[]}],"x-codegen-request-body-name":"body"}},"/mail/batch/{batch_id}":{"get":{"tags":["Cancel Scheduled Sends"],"summary":"Validate batch ID","description":"**This endpoint allows you to validate a batch ID.**\n\nIf you set the SMTPAPI header `batch_id`, it allows you to then associate multiple scheduled mail/send requests together with the same ID. Then at anytime up to 10 minutes before the schedule date, you can cancel all of the mail/send requests that have this batch ID by calling the Cancel Scheduled Send endpoint. \n\nMore Information:\n\n* [Scheduling Parameters > Batch ID](https://sendgrid.com/docs/API_Reference/SMTP_API/scheduling_parameters.html)","operationId":"GET_mail-batch-batch_id","responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mail_batch_id"},"example":{"batch_id":"HkJ5yLYULb7Rj8GKSx7u025ouWVlMgAi"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"invalid batch id"}]}}}},"401":{"description":"Unexpected error in API call. See HTTP response body for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"authorization required"}]}}}}},"security":[{"Authorization":[]}]},"parameters":[{"name":"batch_id","in":"path","required":true,"schema":{"type":"string"}}]},"/user/scheduled_sends":{"get":{"tags":["Cancel Scheduled Sends"],"summary":"Retrieve all scheduled sends","description":"**This endpoint allows you to retrieve all cancel/paused scheduled send information.**\n\nThe Cancel Scheduled Sends feature allows the customer to cancel a scheduled send based on a Batch ID included in the SMTPAPI header. Scheduled sends cancelled less than 10 minutes before the scheduled time are not guaranteed to be cancelled.","operationId":"GET_user-scheduled_sends","responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/user_scheduled_send_status"}},"example":[{"batch_id":"YzJlNTkxMmEtOWM3Ny0xMWU1LTkwM2UtNTI1NDAwNmQzZmYzLTVlM2NhNWIwYg","status":"cancel"},{"batch_id":"UtNTI1NDAwNmQzZmYzLTVlM2NhNWIwYgYzJlNTkxMmEtOWM3Ny0xMWU1LTkwM2","status":"cancel"}]}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"authorization required"}]}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["Cancel Scheduled Sends"],"summary":"Cancel or pause a scheduled send","description":"**This endpoint allows you to cancel or pause an email that has been scheduled to be sent.**\n\nIf the maximum number of cancellations/pauses are added, HTTP 400 will\nbe returned.\n\nThe Cancel Scheduled Sends feature allows the customer to cancel a scheduled send based on a Batch ID included in the SMTPAPI header. Scheduled sends cancelled less than 10 minutes before the scheduled time are not guaranteed to be cancelled.","operationId":"POST_user-scheduled_sends","requestBody":{"content":{"application/json":{"schema":{"title":"Cancel or pause a scheduled send request","required":["batch_id","status"],"type":"object","properties":{"batch_id":{"pattern":"^[a-zA-Z0-9]","type":"string","description":"The batch ID is the identifier that your scheduled mail sends share."},"status":{"type":"string","description":"The status of the send you would like to implement. This can be pause or cancel. To delete a pause or cancel status see DELETE /v3/user/scheduled_sends/{batch_id}","default":"pause","enum":["pause","cancel"]}},"example":{"batch_id":"YOUR_BATCH_ID","status":"pause"}}}},"required":false},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/user_scheduled_send_status"}}}},"400":{"description":"\"\" : \"max limit reached\"\n\"batch_id\" : \"invalid batch id\"\n\"batch_id\" : \"a status for this batch id exists, try PATCH to update the status\"","content":{"application/json":{"schema":{"type":"object"},"example":{"errors":[{"message":"max limit reached"},{"field":"batch_id","message":"invalid batch id"},{"field":"batch_id","message":"a status for this batch id exists, try PATCH to update the status"}]}}}},"401":{"description":"","content":{"application/json":{"schema":{"type":"object"},"example":{"errors":[{"message":"authorization required"}]}}}}},"security":[{"Authorization":[]}],"x-codegen-request-body-name":"body"}},"/user/scheduled_sends/{batch_id}":{"get":{"tags":["Cancel Scheduled Sends"],"summary":"Retrieve scheduled send","description":"**This endpoint allows you to retrieve the cancel/paused scheduled send information for a specific `batch_id`.**\n\nThe Cancel Scheduled Sends feature allows the customer to cancel a scheduled send based on a Batch ID included in the SMTPAPI header. Scheduled sends cancelled less than 10 minutes before the scheduled time are not guaranteed to be cancelled.","operationId":"GET_user-scheduled_sends-batch_id","responses":{"200":{"description":"","content":{"application/json":{"schema":{"title":"Retrieve scheduled send response","type":"array","items":{"$ref":"#/components/schemas/user_scheduled_send_status"}},"example":[{"batch_id":"HkJ5yLYULb7Rj8GKSx7u025ouWVlMgAi","status":"cancel"},{"batch_id":"IbLdyLYULb7Rj8GKSx7u025ouWVlAiMg","status":"pause"}]}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"authorization required"}]}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["Cancel Scheduled Sends"],"summary":"Delete a cancellation or pause of a scheduled send","description":"**This endpoint allows you to delete the cancellation/pause of a scheduled send.**\n\nThe Cancel Scheduled Sends feature allows the customer to cancel a scheduled send based on a Batch ID included in the SMTPAPI header. Scheduled sends cancelled less than 10 minutes before the scheduled time are not guaranteed to be cancelled.","operationId":"DELETE_user-scheduled_sends-batch_id","requestBody":{"content":{"*/*":{}},"required":false},"responses":{"204":{"description":"","content":{}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"authorization required"}]}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"batch id not found"}]}}}}},"security":[{"Authorization":[]}],"x-codegen-request-body-name":"body"},"patch":{"tags":["Cancel Scheduled Sends"],"summary":"Update user scheduled send information","description":"**This endpoint allows you to update the status of a scheduled send for the given `batch_id`.**\n\nThe Cancel Scheduled Sends feature allows the customer to cancel a scheduled send based on a Batch ID included in the SMTPAPI header. Scheduled sends cancelled less than 10 minutes before the scheduled time are not guaranteed to be cancelled.","operationId":"PATCH_user-scheduled_sends-batch_id","requestBody":{"content":{"application/json":{"schema":{"required":["status"],"type":"object","properties":{"status":{"type":"string","description":"The status you would like the scheduled send to have.","enum":["cancel","pause"]}},"example":{"status":"pause"}}}},"required":false},"responses":{"204":{"description":"","content":{}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"field":"status","message":"status must be either cancel or pause"}]}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"authorization required"}]}}}},"404":{"description":"\"\" : \"batch id not found\"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"batch id not found"}]}}}}},"security":[{"Authorization":[]}],"x-codegen-request-body-name":"body"},"parameters":[{"name":"batch_id","in":"path","required":true,"schema":{"type":"string"}}]},"/categories":{"get":{"tags":["Categories"],"summary":"Retrieve all categories","description":"**This endpoint allows you to retrieve a list of all of your categories.**\n\nCategories can help organize your email analytics by enabling you to “tag” emails by type or broad topic. You can define your own custom categories. For more information, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Statistics/categories.html).","operationId":"GET_categories","parameters":[{"name":"limit","in":"query","description":"The number of categories to display per page.","schema":{"type":"integer","default":50}},{"name":"category","in":"query","description":"Allows you to perform a prefix search on this particular category.","schema":{"type":"string"}},{"name":"offset","in":"query","description":"The point in the list that you would like to begin displaying results.","schema":{"type":"integer","default":0}},{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"required":["category"],"type":"object","properties":{"category":{"type":"string","description":"A category used to group emails by broad topic."}}}},"example":[{"category":"category 1"},{"category":"category 2"}]}}},"400":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","description":"The error returned.","items":{"required":["field","message"],"type":"object","properties":{"field":{"type":"string"},"message":{"type":"string","description":"A message explaining why your categories could not be retrieved."}}}}}},"example":{"errors":[{"field":"sort_by","message":"invalid sort value"}]}}}}},"security":[{"Authorization":[]}]}},"/categories/stats/sums":{"get":{"tags":["Categories"],"summary":"Retrieve sums of email stats for each category [Needs: Stats object defined, has category ID?]","description":"**This endpoint allows you to retrieve the total sum of each email statistic for every category over the given date range.**\n\nIf you do not define any query parameters, this endpoint will return a sum for each category in groups of 10.\n\nCategories allow you to group your emails together according to broad topics that you define. For more information, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Statistics/categories.html).","operationId":"GET_categories-stats-sums","parameters":[{"name":"sort_by_metric","in":"query","description":"The metric that you want to sort by.  Must be a single metric.","schema":{"type":"string","default":"delivered"}},{"name":"sort_by_direction","in":"query","description":"The direction you want to sort.","schema":{"type":"string","default":"desc","enum":["desc","asc"]}},{"name":"start_date","in":"query","description":"The starting date of the statistics to retrieve. Must follow format YYYY-MM-DD.","required":true,"schema":{"type":"string"}},{"name":"end_date","in":"query","description":"The end date of the statistics to retrieve. Defaults to today. Must follow format YYYY-MM-DD.","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Limits the number of results returned.","schema":{"type":"integer","default":5}},{"name":"offset","in":"query","description":"The point in the list to begin retrieving results.","schema":{"type":"integer","default":0}},{"name":"aggregated_by","in":"query","description":"How to group the statistics. Must be either \"day\", \"week\", or \"month\".","schema":{"type":"string","enum":["day","week","month"]}},{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/category_stats"},"example":{"date":"2015-01-01","stats":[{"metrics":{"blocks":0,"bounce_drops":0,"bounces":0,"clicks":20,"deferred":0,"delivered":20,"invalid_emails":0,"opens":20,"processed":0,"requests":20,"spam_report_drops":0,"spam_reports":0,"unique_clicks":20,"unique_opens":20,"unsubscribe_drops":0,"unsubscribes":20},"name":"cat1","type":"category"},{"metrics":{"blocks":1,"bounce_drops":0,"bounces":0,"clicks":19,"deferred":0,"delivered":19,"invalid_emails":0,"opens":19,"processed":0,"requests":20,"spam_report_drops":0,"spam_reports":0,"unique_clicks":19,"unique_opens":19,"unsubscribe_drops":0,"unsubscribes":19},"name":"cat2","type":"category"},{"metrics":{"blocks":0,"bounce_drops":0,"bounces":0,"clicks":5,"deferred":0,"delivered":5,"invalid_emails":0,"opens":5,"processed":0,"requests":5,"spam_report_drops":0,"spam_reports":0,"unique_clicks":5,"unique_opens":5,"unsubscribe_drops":0,"unsubscribes":5},"name":"cat3","type":"category"},{"metrics":{"blocks":0,"bounce_drops":0,"bounces":0,"clicks":6,"deferred":0,"delivered":5,"invalid_emails":0,"opens":6,"processed":0,"requests":5,"spam_report_drops":0,"spam_reports":0,"unique_clicks":5,"unique_opens":5,"unsubscribe_drops":0,"unsubscribes":6},"name":"cat4","type":"category"},{"metrics":{"blocks":10,"bounce_drops":0,"bounces":0,"clicks":0,"deferred":0,"delivered":0,"invalid_emails":0,"opens":0,"processed":0,"requests":10,"spam_report_drops":0,"spam_reports":0,"unique_clicks":0,"unique_opens":0,"unsubscribe_drops":0,"unsubscribes":0},"name":"cat5","type":"category"}]}}}}},"security":[{"Authorization":[]}]}},"/categories/stats":{"get":{"tags":["Categories"],"summary":"Retrieve Email Statistics for Categories","description":"**This endpoint allows you to retrieve all of your email statistics for each of your categories.**\n\nIf you do not define any query parameters, this endpoint will return a sum for each category in groups of 10.\n\nCategories allow you to group your emails together according to broad topics that you define. For more information, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Statistics/categories.html).","operationId":"GET_categories-stats","parameters":[{"name":"start_date","in":"query","description":"The starting date of the statistics to retrieve. Must follow format YYYY-MM-DD","required":true,"schema":{"type":"string"}},{"name":"end_date","in":"query","description":"The end date of the statistics to retrieve. Defaults to today. Must follow format YYYY-MM-DD.","schema":{"type":"string"}},{"name":"categories","in":"query","description":"The individual categories that you want to retrieve statistics for. You may include up to 10 different categories.","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"The number of results to include.","schema":{"maximum":500,"type":"integer","default":500}},{"name":"offset","in":"query","description":"The number of results to skip.","schema":{"type":"integer"}},{"name":"aggregated_by","in":"query","description":"How to group the statistics. Must be either \"day\", \"week\", or \"month\".","schema":{"type":"string","enum":["day","week","month"]}},{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/category_stats"}},"example":[{"date":"2015-10-01","stats":[{"type":"category","name":"docs","metrics":{"blocks":0,"bounce_drops":0,"bounces":0,"clicks":0,"deferred":0,"delivered":0,"invalid_emails":0,"opens":0,"processed":0,"requests":0,"spam_report_drops":0,"spam_reports":0,"unique_clicks":0,"unique_opens":0,"unsubscribe_drops":0,"unsubscribes":0}},{"type":"category","name":"mattscategory","metrics":{"blocks":0,"bounce_drops":0,"bounces":0,"clicks":0,"deferred":0,"delivered":0,"invalid_emails":0,"opens":0,"processed":0,"requests":0,"spam_report_drops":0,"spam_reports":0,"unique_clicks":0,"unique_opens":0,"unsubscribe_drops":0,"unsubscribes":0}}]},{"date":"2015-11-01","stats":[{"type":"category","name":"docs","metrics":{"blocks":0,"bounce_drops":0,"bounces":0,"clicks":0,"deferred":0,"delivered":0,"invalid_emails":0,"opens":0,"processed":0,"requests":0,"spam_report_drops":0,"spam_reports":0,"unique_clicks":0,"unique_opens":0,"unsubscribe_drops":0,"unsubscribes":0}},{"type":"category","name":"mattscategory","metrics":{"blocks":0,"bounce_drops":0,"bounces":0,"clicks":0,"deferred":0,"delivered":0,"invalid_emails":0,"opens":0,"processed":0,"requests":0,"spam_report_drops":0,"spam_reports":0,"unique_clicks":0,"unique_opens":0,"unsubscribe_drops":0,"unsubscribes":0}}]}]}}}},"security":[{"Authorization":[]}]}},"/contactdb/custom_fields":{"get":{"tags":["Contacts API - Custom Fields"],"summary":"Retrieve all custom fields","description":"**This endpoint allows you to retrieve all custom fields.** \n\nThe contactdb is a database of your contacts for [SendGrid Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html).","operationId":"GET_contactdb-custom_fields","parameters":[{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"title":"List All Custom Fields response","required":["custom_fields"],"type":"object","properties":{"custom_fields":{"type":"array","items":{"$ref":"#/components/schemas/contactdb_custom_field_with_id"}}}},"example":{"custom_fields":[{"id":6234,"name":"age","type":"number"},{"id":6233,"name":"country","type":"text"},{"id":6235,"name":"favorite_color","type":"text"},{"id":6239,"name":"fname","type":"text"},{"id":6240,"name":"lname","type":"text"},{"id":49439,"name":"pet","type":"text"}]}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"authorization required"}]}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["Contacts API - Custom Fields"],"summary":"Create a Custom Field","description":"**This endpoint allows you to create a custom field.**\n\nThe contactdb is a database of your contacts for [SendGrid Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html).","operationId":"POST_contactdb-custom_fields","parameters":[{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"type":{"type":"string"}},"example":{"name":"pet","type":"text"}}}},"required":false},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"type":{"type":"string"}}},"example":{"id":1,"name":"pet","type":"text"}}}},"400":{"description":"\"\" : \"Returned if request body is invalid JSON\"\n\"type\" : \"Returned if custom field type is invalid or not provided\"\n\"name\" : \"Returned if custom field name is not provided\"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errors"},"example":{"errors":[{"message":"Returned if request body is invalid JSON"},{"field":"type","message":"Returned if custom field type is invalid or not provided"},{"field":"name","message":"Returned if custom field name is not provided"}]}}}}},"security":[{"Authorization":[]}],"x-codegen-request-body-name":"body"}},"/contactdb/custom_fields/{custom_field_id}":{"get":{"tags":["Contacts API - Custom Fields"],"summary":"Retrieve a Custom Field","description":"**This endpoint allows you to retrieve a custom field by ID.**\n\nThe contactdb is a database of your contacts for [SendGrid Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html).","operationId":"GET_contactdb-custom_fields-custom_field_id","parameters":[{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/contactdb_custom_field_with_id"},"example":{"id":1,"name":"pet","type":"text"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"invalid id"}]}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"authorization required"}]}}}},"404":{"description":"\"custom_field_id\" : \"Returned if custom_field_id does not exist\"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"Custom field ID does not exist"}]}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["Contacts API - Custom Fields"],"summary":"Delete a Custom Field","description":"**This endpoint allows you to delete a custom field by ID.**\n\nThe contactdb is a database of your contacts for [SendGrid Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html).","operationId":"DELETE_contactdb-custom_fields-custom_field_id","parameters":[{"$ref":"#/components/parameters/trait:onBehalfOfSubuser:on-behalf-of"}],"requestBody":{"content":{"*/*":{}},"required":false},"responses":{"202":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"message":"Custom Field delete is processing."}}}},"400":{"description":"\"id\" : \"Returned if custom_field_id is not valid\"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"Custom field in use by one or more segment conditions"},{"message":"Custom field ID does not exist"}]}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"authorization required"}]}}}},"404":{"description":"\"custom_field_id\" : \"Returned if custom_field_id does not exist\"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/global:ErrorResponse"},"example":{"errors":[{"message":"Custom field ID does n
[...]
