/*********Override stili marsterpage*********/
.divBody {
    width: 96%;
}
/*************************affinity list******************************/
.divGroupName {
    padding-left: 2%;
    padding-right: 2%;
    font-size: 19px;
}

.divGroupDescr {
    padding-left: 2%;
    padding-right: 2%;
}

.divAffinityList {
    float: left;
}

.divAffinityItem {
    float: left;
    width: 48%;
    height: auto;
    margin-top: 2%;
    margin-right: 2%;
    font-size: 1.1em;
}

.divAffinityItem:nth-child(2n) {
    margin-right: 0px;
}

.divAffinityItem img {
    width: 100%;
}

.divAffinityItem div {
    padding-left: 2%;
    height: 60px;

    /* multiline text ellipsis*/
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*********************************************************************/

/***********************affinity details******************************/
.divPackageItem {
    margin: 2%;
    margin-bottom:4%;
    padding: 2%;
    width: 92%;
    height: auto;

}

.divPackageItem img {
    width: 40%;
    height: auto;
    margin-right: 2%;
}

.divPackageContent {
    float: none;
    height: auto;
    width: 100%;
    padding: 0px;
    margin-left: 0px;
}

.divPackageTitle {
    font-size: 17px;
    line-height: 22px;
}
/*********************************************************************/
