.divPopUp, .divPopUpMarshCard, .divPopUpActionNew, .divPopUpAlert {
    height:auto;
    overflow:auto;
}
.divPopUpHeader, .divPopUpHeaderBigger
{
    
    width:530px;
    height:65px;
    line-height:65px;
    padding-left:20px;
    padding-right:20px;

    background-color:#86D3E5;
    color:black;
    font-size:22px;
}
.divPopUpHeaderBigger {
    width:auto;
}
.divPopUpHeader img {
    margin-top:20px;
    float:right;
}
.divPopupContent, .divPopupContentBigger {
    padding:20px;
    width:530px;
    height:auto;
    overflow:auto;
    background-color:white;

}
.divPopupContentBigger {
    width:auto;
}
.divPopUpFooterButtons {
    height:43px;
    padding:30px;
    width:510px;
    background-color:white;

}
.btnPopUp { 
    float:right;

    width:205px;
    height:45px;
    line-height:45px;
    text-align:center;
    border:none;

    color:white;
    background-color:#45555F;
}
.aClosePopUp {
    float:right;
}